<%- include ../layouts/header.ejs %>    
 
<div>
    <a href="/">Sair</a> | 
    <a href="/users/add">Add New User</a> | 
    <a href="/users">All Users List</a>
</div>    

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 
<form action="/users/add" method="post" name="form1">
    <table width="25%" border="0">
        <tr> 
            <td>Username</td>
            <td><input type="text" name="nome" id="nome" value="<%= nome %>" /></td>
        </tr>
        <tr> 
            <td>Password</td>
            <td><input type="text" name="senha" value="<%= senha %>" /></td>
        </tr>
        <tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Add" /></td>
        </tr>
    </table>
</form>
 
<%- include ../layouts/footer.ejs %>