
<%- include ../layouts/header.ejs %>
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>    
 
<table width='80%' border=0>
 
    <tr style='text-align:left; background-color:#CCC'>
        <th>Username</th>
        <th>Password</th>
    </tr>
    

    <% if (data) { %>
    <% data.forEach(function(user){ %>
        <tr>
            <td><%= user.nome %></td>
            <td><%= user.senha %></td>
    <% }) %>
    <% } %>
 
</table>
 
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>